* {
    background-color: #ffa;
}

header {
    text-align: center;
}

.whole {
    text-align: center;

    .rule_selector {
        width: 100px;
        height: 25px;
    }

    .score {
        font-size: 40px;
    }

    .btns {
        width: 40px;
        height: 30px;
    }

    .right_btn {
        background-color: #faa;
    }

    .wrong_btn {
        background-color: #aaf;
    }

    .reset_btn {
        background-color: #888;
    }
}